body {
  margin: 0;
}

.container {
  /* width: 80%; */
  text-align: center;
  color: gray;
  padding: 0 10%;
}

header {
  border-bottom: solid;
  border-width: thin;
  /* position: absolute; */
  }

.logo {
  width: 100%;
  padding: 20px 0;
}

/* nav {
  display: inline-block;
  width: 250px;
  position: relative;
  right: 0;
} */

.brand {
  text-align: center;
  width:10%;
  display:inline-block;
}

/* .searchbox {

} */

.hero {
  padding: 20px 0;
}

.top-heading {
  float: left;
  width: 45%;
}

.img-hero {
  width: 100%;
}

.ul-side {
  text-align: left;
  width: 45%;
  float: left;
}

li {
  list-style: none;
}

.img-side {
  width: 20%;
}

.side-caption {
  width: 75%;
}
