body {
  margin: 0;
}

.container {
  text-align: center;
  color: gray;
  padding: 0 10%;
}

header {
  border-bottom: solid;
  border-width: thin;
  border-color: green;
  /* position: absolute; */
  }

.logo {
  width: 100%;
  padding: 20px 0;
}

/* nav {
  display: inline-block;
  width: 250px;
  position: relative;
  right: 0;
} */

.brand {
  text-align: center;
  width:10%;
  display:inline-block;
}

/* .searchbox {

} */

.hero {
  padding: 20px 0;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: orange;
}

.top-heading {
  float: left;
  /* display: inline-block; */
  width: 50%;
}

.img-hero {
  width: 100%;
}

.side-sec {
  width: 45%;
  display: inline-block;
  border-left-style: solid;
  border-left-width: thin;
  /* float: left; */
}

.ul-side {
  padding-left: 20px;
  text-align: left;
  width: 100%;
  /* float: left; */
  /* display: inline-block; */
  margin: 0;
}

li {
  list-style: none;
}

.img-side {
  width: 20%;
}

.cap-head {
  text-align: left;
}

.side-caption {
  width: 75%;
  display: inline-block;
}

.kicks {
  clear: both;
}
